footer.footer
  nav
    a.auto.active auto
    a.custom custom
    a 320×480 (iPhone - portrait)
    a 480×320 (iPhone - landscape)
    a 768×1024 (iPad - portrait)
    a 1024×768 (iPad - landscape)
    br
    a 480×272
    a 640×320
    a 720×364
    a 768×480
    a 960×720
    a 1024×768
    a 1280×1024
    a 1440×900
    a 1600×1024
    a 1680×1050
    a 1920×1080

  a(href="https://github.com/nikoloza/iBrowsr", target="_blank") Github
  |  | 
  a.link Get link
  |  | 
  a.embed Get embed
  |  | 
  a.credits Credits
  |  | 
  a.contact Contact
